
@{
    ViewBag.Title = "DoanhThuDoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Tour_du_lich.Models

    <div class="container-fluid">
        <h1 class="mt-4">Thống Kê Doanh Thu Đoàn</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Thống Kê</li>
            <li class="breadcrumb-item active">Doanh Thu Đoàn</li>
        </ol>
            <div style="margin-left: 20px">
                <div style="margin-top:20px" class="row">
                    <div class="col-md-3">
                        <div>
                            Mã Đoàn Cần Thống Kê
                        </div>
                        <div>
                            <select id="ma-doan" style="color: black">
                                @foreach (DoanModel item in ViewBag.doans)
                                {
                                    if (ViewBag.madoan != null)
                                    {
                                        if (item.madoan == ViewBag.madoan)
                                        {
                                            <option value="@item.madoan" selected>@item.madoan</option>
                                        }
                                        else
                                        {
                                            <option value="@item.madoan">@item.madoan</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@item.madoan">@item.madoan</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            Thời gian Bắt Đầu
                        </div>
                        <div>
                            @if (ViewBag.thoigianbatdau != null)
                            {
                                <input type="date" id="thoi-gian-bat-dau" value="@ViewBag.thoigianbatdau.Date.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" id="thoi-gian-bat-dau" />
                            }

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            Thời gian kết Thúc
                        </div>
                        <div>
                            @if (ViewBag.thoigianketthuc != null)
                            {
                                <input type="date" id="thoi-gian-ket-thuc" value="@ViewBag.thoigianketthuc.Date.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" id="thoi-gian-ket-thuc" />
                            }
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top: 20px"><button id="btnRun" onclick="DoanhThuDoan();">Thực hiện</button></div>
                </div>
            </div>
        
            @if (ViewBag.doanhthudoans != null && ViewBag.doanhthudoans.Count > 0)
            {
                <div class="card-body" style="border: 1px solid black; margin: 20px 0px">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="15%">Mã Khách hàng</th>
                                    <th width="15%">Mã Đoàn</th>
                                    <th width="15%">Mã Tour</th>
                                    <th width="15%">Giá Tour</th>
                                    <th width="20%">Ngày Bắt Đầu</th>
                                    <th width="20%">Ngày Kết Thúc</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DoanhThuDoanModel item in ViewBag.doanhthudoans)
                                {
                                <tr>
                                    <td>@item.makh</td>
                                    <td>@item.madoan</td>
                                    <td>@item.matour</td>
                                    <td>@String.Format("{0:0,0 vnđ}", item.gia)</td>
                                    <td>@item.ngaybatdau</td>
                                    <td>@item.ngayketthuc</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div style="display:flex; justify-content:flex-end; font-size: 24px; font-weight: 700">
                    <div>Tổng Doanh Thu:&nbsp;</div>
                    <div>@String.Format("{0:0,0 vnđ}", ViewBag.doanhthudoans[0].gia*ViewBag.quantity)</div>
                </div>
            }
            else
            {
                <h1 style="display: flex;justify-content: center;margin-top: 100px;">Chưa có dữ liệu ...</h1>
            }

    </div>

