@{
    ViewBag.Title = "QuanLyDoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Tour_du_lich.Models

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Đoàn</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Đoàn</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Đoàn
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Đoàn
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyDoan", "Doan", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Thêm Đoàn</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Đoàn
                                                    </div>
                                                    <div>
                                                        <input id="them-ma-doan" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Tour
                                                    </div>
                                                    <div>
                                                        <select id="them-ma-tour" style="color: black">
                                                            @foreach (TourDataModel item in ViewBag.tours)
                                                            {
                                                                <option value="@item.matour">@item.matour</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Bắt Đầu
                                                    </div>
                                                    <div>
                                                        <input type="date" id="them-ngay-bat-dau" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Kết Thúc
                                                    </div>
                                                    <div>
                                                        <input type="date" id="them-ngay-ket-thuc" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="margin-top:50px" class="row">
                                                Chọn Địa Điểm
                                            </div>
                                            <div style="margin-top:50px;display:flex;justify-content:space-evenly;" class="row">
                                                <!-- Demo -->
                                                <div>
                                                    <select multiple="multiple" size="10" name="duallistbox_nhanvien_1" id="list-nv-add-1" title="duallistbox_demo2">

                                                        @foreach (NhanVienModel item in ViewBag.nhanviens)
                                                        {
                                                            <option value="@item.manv">@item.tennv</option>

                                                        }
                                                    </select>
                                                </div>
                                                <div style="display: flex; flex-direction: column">
                                                    <button id="btn-add-them-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Add</button>
                                                    <button id="btn-remove-them-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Remove</button>
                                                    <button id="btn-up-them-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Up</button>
                                                    <button id="btn-down-them-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Down</button>
                                                </div>
                                                <div>
                                                    <select multiple="multiple" size="10" name="duallistbox_demo2" id="list-nv-add-2" title="duallistbox_demo2">
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnAddDoan" type="button" class="btn btn-success" data-dismiss="modal">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("EditDoan", "Doan", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Sửa Đoàn</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Đoàn
                                                    </div>
                                                    <div>
                                                        <input id="sua-ma-doan" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Tour
                                                    </div>
                                                    <div>
                                                        <select id="sua-ma-tour" style="color: black">
                                                            @foreach (TourDataModel item in ViewBag.tours)
                                                            {
                                                                <option value="@item.matour">@item.matour</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Bắt Đầu
                                                    </div>
                                                    <div>
                                                        <input type="date" id="sua-ngay-bat-dau" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Kết Thúc
                                                    </div>
                                                    <div>
                                                        <input type="date" id="sua-ngay-ket-thuc" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="margin-top:50px" class="row">
                                                Chọn Địa Điểm
                                            </div>
                                            <div style="margin-top:50px;display:flex;justify-content:space-evenly;" class="row">
                                                <!-- Demo -->
                                                <div>
                                                    <select multiple="multiple" size="10" name="duallistbox_nhanvien_1" id="list-nv-edit-1" title="duallistbox_demo2">

                                                        @foreach (NhanVienModel item in ViewBag.nhanviens)
                                                        {
                                                            <option value="@item.manv">@item.tennv</option>

                                                        }
                                                    </select>
                                                </div>
                                                <div style="display: flex; flex-direction: column">
                                                    <button id="btn-add-sua-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Add</button>
                                                    <button id="btn-remove-sua-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Remove</button>
                                                    <button id="btn-up-sua-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Up</button>
                                                    <button id="btn-down-sua-nv" type="button" class="btn btn-primary" style="margin-top: 15px">Down</button>
                                                </div>
                                                <div>
                                                    <select multiple="multiple" size="10" name="duallistbox_demo2" id="list-nv-edit-2" title="duallistbox_demo2">
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnEditDoan" type="button" class="btn btn-success" data-dismiss="modal">Sửa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("DeleteDoan", "Doan", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Xóa Đoàn</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>Bạn có muốn xóa đoàn này không?</div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Xóa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="200px">Mã Đoàn</th>
                                <th width="200px">Mã Tour</th>
                                <th width="300px">Ngày Bắt Đầu</th>
                                <th>Ngày Kết Thúc</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DoanModel item in ViewBag.doans)
                            {
                            <tr>
                                <td>@item.madoan</td>
                                <td>@item.matour</td>
                                <td>@item.ngaybatdau</td>
                                <td>@item.ngayketthuc</td>
                                <td>
                                    <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoDoan('@item.madoan')">Sửa</button>
                                    <button type="button" class="btn btn-danger" onclick="onClickDeleteDoan('@item.madoan')">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

