@{
    ViewBag.Title = "QuanLyDoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tour_du_lich.Models.doan>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Đoàn</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Đoàn</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Đoàn
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Đoàn
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyDoan", "Doan", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Thêm Đoàn</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Tour
                                                    </div>
                                                    <div>
                                                        <input />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Loại Tour
                                                    </div>
                                                    <div>
                                                        <select id="tours" style="color: black">
                                                            <option value="volvo">Volvo</option>
                                                            <option value="saab">Saab</option>
                                                            <option value="vw">VW</option>
                                                            <option value="audi" selected>Audi</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Tên Tour
                                                    </div>
                                                    <div>
                                                        <input />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Giá Tour
                                                    </div>
                                                    <div>
                                                        <select id="tours" style="color: black">
                                                            <option value="volvo">Volvo</option>
                                                            <option value="saab">Saab</option>
                                                            <option value="vw">VW</option>
                                                            <option value="audi" selected>Audi</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Bắt Đầu
                                                    </div>
                                                    <div>
                                                        <input type="date" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Kết Thúc
                                                    </div>
                                                    <div>
                                                        <input type="date" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Địa Điểm
                                                    </div>
                                                    <div>
                                                        <textarea></textarea>
                                                    </div>
                                                    <div>
                                                        <button style="background-color: lightgreen;color:black">Chọn địa điểm</button>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-6">
                                            <button style="background-color: green;color:white">Lưu</button>
                                        </div>*@
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="200px">Mã Đoàn</th>
                                <th width="200px">Mã Tour</th>
                                <th width="300px">Ngày Bắt Đầu</th>
                                <th>Ngày Kết Thúc</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.madoan</td>
                                <td>@item.matour</td>
                                <td>@item.ngaybatdau</td>
                                <td>@item.ngayketthuc</td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-id="@item.madoan"><a style="text-decoration: none; color:#FFFFFF" href="/Edit">Sửa</a></button>
                                    <button type="button" class="btn btn-danger" data-id="@item.madoan">
                                        <a style="text-decoration: none; color:#FFFFFF" href="#">Xóa</a>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

