
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Tour_du_lich.Models.tour>

    <main>
        <div class="container-fluid" style="padding-left: 1.72rem">
            <h1 class="mt-4">Màn Hình Chính</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Màn Hình Chính</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="row" style="font-size: 21px">
                            <div class="card-body col-md-9">Tổng Số Tour:</div>
                            <div class="card-body col-md-3">20</div>
                        </div>
                        
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/Tour/QuanLyTour">Xem Chi Tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="row" style="font-size: 21px">
                            <div class="card-body col-md-9">Tổng Số Đoàn:</div>
                            <div class="card-body col-md-3">20</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/Doan/QuanLyDoan">Xem Chi Tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="row" style="font-size: 21px">
                            <div class="card-body col-md-9">Tổng Số Khách hàng:</div>
                            <div class="card-body col-md-3">30</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/Khach/QuanLyKhach">Xem Chi Tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="row" style="font-size: 21px">
                            <div class="card-body col-md-9">Tổng Số Tour Bị Hủy:</div>
                            <div class="card-body col-md-3">2</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Xem Chi Tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Doanh Thu Tháng 3
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            Doanh Thu Năm 2020
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header" style="display: flex; justify-content: space-between">
                    <div>
                        <i class="fas fa-table mr-1"></i>
                        Bảng Thông Tin Tour
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="70px">Mã Tour</th>
                                    <th width="70px">Tên Tour</th>
                                    <th width="110px">Mã Loại Tour</th>
                                    <th>Đặc Điểm</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.matour</td>
                                        <td>@item.tentour</td>
                                        <td>@item.maloai</td>
                                        <td>@item.dacdiem</td>
                                        <td>@item.giamacdinh</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

@section ClientScript
{

}

