@{
    ViewBag.Title = "QuanLyKhach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tour_du_lich.Models.khachhang>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Khách Hàng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Khách Hàng</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Khách Hàng
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="150px">Mã Khách Hàng</th>
                                <th width="150px">Tên Khách Hàng</th>
                                <th width="110px">Địa Chỉ</th>
                                <th width="110px">Số Điện Thoại</th>
                                <th width="110px">Giới Tính</th>
                                <th width="110px">CMND</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.makh</td>
                                    <td>@item.tenkh</td>
                                    <td>@item.diachi</td>
                                    <td>@item.sdt</td>
                                    <td>@item.giotinh</td>
                                    <td>@item.cmnd</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

