@{
    ViewBag.Title = "QuanLyGia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Tour_du_lich.Models

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Giá Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Giá Tour</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Giá Tour
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Giá
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyGia", "Gia", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Thêm Giá Tour</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Giá Tour
                                                    </div>
                                                    <div>
                                                        <input id="ma-gia-them"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Tour
                                                    </div>
                                                    <div>
                                                        <select id="ma-tour-them" style="color: black">

                                                            @foreach (TourDataModel item in ViewBag.tours)
                                                            {
                                                                <option value="@item.matour">@item.matour</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Bắt Đầu
                                                    </div>
                                                    <div>
                                                        <input type="date" id="tgbd-them"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Kết Thúc
                                                    </div>
                                                    <div>
                                                        <input type="date" id="tgkt-them"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        Giá Tour
                                                    </div>
                                                    <input type="text" id="gia-tien-them"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" id="btnAddGia">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyGia", "Gia", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Sửa Giá Tour</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Giá Tour
                                                    </div>
                                                    <div>
                                                        <input id="ma-gia-sua"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Tour
                                                    </div>
                                                    <div>
                                                        <select id="ma-tour-sua" style="color: black">
                                                            
                                                                @foreach (TourDataModel item in ViewBag.tours)
                                                                {
                                                                    <option value="@item.matour">@item.matour</option>
                                                                }
                                                            
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Bắt Đầu
                                                    </div>
                                                    <div>
                                                        <input type="date" id="tgbd-sua"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Ngày Kết Thúc
                                                    </div>
                                                    <div>
                                                        <input type="date" id="tgkt-sua"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        Giá Tour
                                                    </div>
                                                    <input type="text" id="gia-tien-sua"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" id="btnEditGia">Sửa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyGia", "Gia", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Xóa Giá Tour</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>
                                            Bạn có muốn xóa giá này không?
                                         </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Xóa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã Giá Tour</th>
                                <th>Mã Tour</th>
                                <th>Giá Tiền Tour</th>
                                <th>Thời Gian Bắt Đầu</th>
                                <th>Thời Gian Kết Thúc</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GiaModel item in ViewBag.gias)
                            {
                            <tr>
                                <td>@item.magia</td>
                                <td>@item.matour</td>
                                <td>@String.Format("{0:0,0 vnđ}", @item.giatien)</td>
                                <td>@item.tgbd</td>
                                <td>@item.tgkt</td>
                                <td>
                                    <button  type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModalEdit" onclick="onGetInfoGia('@item.magia');">Sửa</button>
                                    <button  type="button" class="btn btn-danger" onclick="onDeleteGia('@item.magia');">
                                        Xóa
                                    </button>
                                </td>
                                @*@Ajax.ActionLink("Xóa", "Delete", new { @id = item.magia }, new AjaxOptions
                                {
                                    Confirm="Bạn có muốn xóa bản ghi này?",
                                    OnComplete = "$('#row_"+@item.magia+"').remove()",
                                    HttpMethod = "Delete"
                                })*@
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

