@{
    ViewBag.Title = "QuanLyTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Tour_du_lich.Models

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Tour</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Tour
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Tour
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 650px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Thêm Tour</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Tour
                                                    </div>
                                                    <div>
                                                        <input id="ma-tour-them"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Loại Tour
                                                    </div>
                                                    <div>
                                                        <select id="ma-loai-tour-them" style="color: black">
                                                            @foreach (LoaiTourModel item in ViewBag.loaitours)
                                                            {
                                                                <option value="@item.maloai">@item.tenloai</option>

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Tên Tour
                                                    </div>
                                                    <div>
                                                        <input id="ten-tour-them" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Đặc Điểm
                                                    </div>
                                                    <div>
                                                        <input id="dac-diem-them" />
                                                    </div>
                                                </div>
                                            </div>



                                            <div style="margin-top:50px" class="row">
                                                Chọn Địa Điểm
                                            </div>
                                            <div style="margin-top:50px;display:flex;justify-content:space-evenly;" class="row">
                                                <!-- Demo -->
                                                <div>
                                                    <select multiple="multiple" size="10" name="duallistbox_demo2" id="list-add-1" title="duallistbox_demo2">

                                                        @foreach (DiaDiemModel item in ViewBag.diadiems)
                                                        {
                                                            <option value="@item.madiadiem">@item.tendiadiem</option>
                                                       
                                                        }
                                                    </select>
                                                </div>
                                                <div  style="display: flex; flex-direction: column">
                                                    <button id="btn-add-them" type="button" class="btn btn-primary" style="margin-top: 15px">Add</button>
                                                    <button id="btn-remove-them" type="button" class="btn btn-primary" style="margin-top: 15px">Remove</button>
                                                    <button id="btn-up-them" type="button" class="btn btn-primary" style="margin-top: 15px">Up</button>
                                                    <button id="btn-down-them" type="button" class="btn btn-primary" style="margin-top: 15px">Down</button>
                                                </div>
                                                <div>
                                                    <select multiple="multiple" size="10" name="duallistbox_demo2" id="list-add-2" title="duallistbox_demo2">
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnAddTour" type="button" class="btn btn-success">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 700px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Sửa Tour</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Tour
                                                    </div>
                                                    <div>
                                                        <input id="ma-tour-sua" disabled="disabled"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Loại Tour
                                                    </div>
                                                    <div>
                                                        <select id="ma-loai-tour-sua" style="color: black">
                                                            @foreach (LoaiTourModel item in ViewBag.loaitours)
                                                            {
                                                                <option value="@item.maloai">@item.tenloai</option>

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Tên Tour
                                                    </div>
                                                    <div>
                                                        <input id="ten-tour-sua" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Đặc Điểm
                                                    </div>
                                                    <div>
                                                        <input id="dac-diem-sua" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                Chọn Địa Điểm
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <!-- Demo -->
                                                <div class="col-md-5">
                                                    <select multiple="multiple" size="10" name="duallistbox_demo3" id="list-edit-1" title="duallistbox_demo2">

                                                        @foreach (DiaDiemModel item in ViewBag.diadiems)
                                                        {
                                                            <option value="@item.madiadiem">@item.tendiadiem</option>

                                                        }
                                                    </select>
                                                </div>
                                                <div style="display: flex; flex-direction: column">
                                                    <button id="btn-add-sua" type="button" class="btn btn-primary" style="margin-top: 15px">Add</button>
                                                    <button id="btn-remove-sua" type="button" class="btn btn-primary" style="margin-top: 15px">Remove</button>
                                                    <button id="btn-up-sua" type="button" class="btn btn-primary" style="margin-top: 15px">Up</button>
                                                    <button id="btn-down-sua" type="button" class="btn btn-primary" style="margin-top: 15px">Down</button>
                                                </div>
                                                <div>
                                                    <select multiple="multiple" size="10" name="duallistbox_demo2" id="list-edit-2" title="duallistbox_demo2">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseEditTour">Đóng</button>
                                        <button type="button" class="btn btn-success" id="btnEditTour">Sửa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="80px">Mã Tour</th>
                                <th width="80px">Tên Tour</th>
                                <th width="130px">Mã Loại Tour</th>
                                <th width="200px">Đặc Điểm</th>
                                <th width="200px">Địa Điểm</th>
                                <th>Giá</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TourDataModel item in ViewBag.tours)
                            {
                            <tr>
                                <td>@item.matour</td>
                                <td>@item.tentour</td>
                                <td>@item.maloai</td>
                                <td>@item.dacdiem</td>
                                <td>
                                    @foreach (DiaDiemModel ct in item.diadiems)
                                    {
                                        <div>@ct.tendiadiem</div>
                                    }
                                </td>
                                <td>@String.Format("{0:0,0 vnđ}", @item.giamacdinh)</td>
                                <td>
                                    <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoTour('@item.matour')">Sửa</button>
                                    <button type="button" class="btn btn-danger" onclick="onDeleteTour('@item.matour')">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>






