@{
    ViewBag.Title = "QuanLyTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Tour_du_lich.Models

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Tour</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Tour
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn custom-btn-primary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Tour
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 640px">

                                    <!-- Modal Header -->
                                    <div class="modal-header bg-cl-primary" >
                                        <h4 class="modal-title" style="flex:1;text-align:center;text-transform:uppercase">Thêm Tour</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="ma-tour-them" class="form-label"> Mã Tour</label>
                                                    </div>
                                                    <div>
                                                        <input id="ma-tour-them" placeholder="Nhập mã tour" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="ma-loai-tour-them" class="form-label"> Loại Tour</label>
                                                    </div>
                                                    <div id="select-no-edit">
                                                        <select id="ma-loai-tour-them" name="ma-loai-tour-them" title="Chọn mã loại tour">
                                                            @foreach (LoaiTourModel item in ViewBag.loaitours)
                                                            {
                                                                <option value="@item.maloai">@item.tenloai</option>

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="ten-tour-them" class="form-label" autocomplete="off"> Tên Tour</label>
                                                    </div>
                                                    <div>
                                                        <input id="ten-tour-them" placeholder="Nhập tên tour"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="gia-tour-them" class="form-label" autocomplete="off"> Giá Tour</label>
                                                    </div>
                                                    <div>
                                                        <input id="gia-tour-them" autocomplete="off" placeholder="Nhập giá tour" onkeyup="changeCurrency(this);"/>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div>
                                                    <label for="dac-diem-them" class="form-label"> Đặc Điểm</label>
                                                </div>
                                                <div>
                                                    <input id="dac-diem-them" autocomplete="off" placeholder="Nhập đặc điểm tour"/>
                                                </div>
                                            </div>
                                        </div>



                                            <div class="row">
                                                <div style="" class="col-md-12">
                                                    <label for="list-add-1" class="form-label"> Chọn Địa Điểm</label>
                                                </div>
                                                <div id="select-edit" style="display:flex;justify-content:space-between;" class="col-md-12">
                                                    <!-- Demo -->
                                                    <div>
                                                        <select multiple="multiple" size="5" name="duallistbox_demo2" id="list-add-1" title="duallistbox_demo2">

                                                            @foreach (DiaDiemModel item in ViewBag.diadiems)
                                                            {
                                                                <option value="@item.madiadiem">@item.tendiadiem</option>

                                                            }
                                                        </select>
                                                    </div>
                                                    <div style="display: flex; flex-direction: column">
                                                        <button id="btn-add-them" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Add</button>
                                                        <button id="btn-remove-them" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Remove</button>
                                                        <button id="btn-up-them" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Up</button>
                                                        <button id="btn-down-them" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Down</button>
                                                    </div>
                                                    <div>
                                                        <select multiple="multiple" size="5" name="duallistbox_demo2" id="list-add-2" title="duallistbox_demo2"></select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="custom-btn btn-16" data-dismiss="modal">Đóng</button>
                                        <button id="btnAddTour" type="button" class="custom-btn btn-12"><span>Add</span><span>Thêm</span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 640px">

                                    <!-- Modal Header -->
                                    <div class="modal-header bg-cl-primary" >
                                        <h4 class="modal-title" style="flex:1;text-align:center;text-transform:uppercase">Sửa Tour</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="ma-tour-sua" class="form-label"> Mã Tour</label>
                                                    </div>
                                                    <div>
                                                        <input id="ma-tour-sua" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="ma-loai-tour-sua" class="form-label">  Loại Tour</label>

                                                    </div>
                                                    <div id="select-no-edit">
                                                        <select id="ma-loai-tour-sua" style="color: black">
                                                            @foreach (LoaiTourModel item in ViewBag.loaitours)
                                                            {
                                                                <option value="@item.maloai">@item.tenloai</option>

                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="ten-tour-sua" class="form-label">  Tên Tour</label>
                                                    </div>
                                                    <div>
                                                        <input id="ten-tour-sua" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="gia-tour-sua" class="form-label" autocomplete="off"> Giá Tour</label>
                                                    </div>
                                                    <div>
                                                        <input id="gia-tour-sua" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        <label for="dac-diem-sua" class="form-label">  Đặc Điểm</label>
                                                    </div>
                                                    <div>
                                                        <input id="dac-diem-sua" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div style="" class="col-md-12">
                                                    <label for="list-edit-1" class="form-label"> Chọn địa điểm</label>
                                                </div>
                                                <div style="display:flex;justify-content:space-between;" class="col-md-12" id="select-edit">
                                                    <!-- Demo -->
                                                    <div>
                                                        <select multiple="multiple" size="5" name="duallistbox_demo3" id="list-edit-1" title="duallistbox_demo2">

                                                            @foreach (DiaDiemModel item in ViewBag.diadiems)
                                                            {
                                                                <option value="@item.madiadiem">@item.tendiadiem</option>

                                                            }
                                                        </select>
                                                    </div>
                                                    <div style="display: flex; flex-direction: column">
                                                        <button id="btn-add-sua" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Add</button>
                                                        <button id="btn-remove-sua" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Remove</button>
                                                        <button id="btn-up-sua" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Up</button>
                                                        <button id="btn-down-sua" type="button" class="btn custom-btn-primary" style="margin-top: 15px">Down</button>
                                                    </div>
                                                    <div>
                                                        <select multiple="multiple" size="5" name="duallistbox_demo2" id="list-edit-2" title="duallistbox_demo2"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            

                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="custom-btn btn-16" data-dismiss="modal" id="btnCloseEditTour">Đóng</button>
                                        <button type="button" class="custom-btn btn-12" id="btnEditTour"><span>Edit</span><span>Sửa</span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="80px">Mã Tour</th>
                                <th width="80px">Tên Tour</th>
                                <th width="130px">Mã Loại Tour</th>
                                <th width="200px">Đặc Điểm</th>
                                <th width="200px">Địa Điểm</th>
                                <th>Giá Gốc</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TourDataModel item in ViewBag.tours)
                            {
                            <tr>
                                <td>@item.matour</td>
                                <td>@item.tentour</td>
                                <td>@item.maloai</td>
                                <td>@item.dacdiem</td>
                                <td>
                                    @foreach (DiaDiemModel ct in item.diadiems)
                                    {
                                        <div>@ct.tendiadiem</div>
                                    }
                                </td>
                                <td>@String.Format("{0:0,0 vnđ}", @item.giamacdinh)</td>
                                <td>
                                    <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoTour('@item.matour')">Sửa</button>
                                    <button type="button" class="btn btn-danger" onclick="onDeleteTour('@item.matour')">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>






