
@{
    ViewBag.Title = "QuanLyPhanCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Tour_du_lich.Models

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Phân Công</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Phân Công</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Phân Công
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Phân Công
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyPhanCong", "PhanCong", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 600px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Thêm Phân Công</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6 select-no-edit" >
                                                    <div>
                                                        <label for="them-ma-nhan-vien" class="form-label"> Mã Nhân Viên</label>
                                                    </div>
                                                    <div>
                                                        <select id="them-ma-nhan-vien" style="color: black">
                                                            @foreach (NhanVienModel item in ViewBag.nhanviens)
                                                            {
                                                                <option value="@item.manv">@item.manv</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-6 select-no-edit">
                                                    <div>
                                                        <label for="them-ma-doan" class="form-label"> Mã Đoàn</label>
                                                    </div>
                                                    <div>
                                                        <select id="them-ma-doan" style="color: black">
                                                            @foreach (DoanModel item in ViewBag.doans)
                                                            {
                                                                <option value="@item.madoan">@item.madoan</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        <label for="them-nhiem-vu" class="form-label">Nhiệm Vụ</label>
                                                    </div>
                                                    <div>
                                                        <textarea id="them-nhiem-vu"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnAddPhanCong" type="button" class="btn btn-success" data-dismiss="modal">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("EditPhanCong", "PhanCong", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 600px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Sửa Phân Công</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6 select-no-edit">
                                                    <div>
                                                        <label for="sua-ma-nhan-vien" class="form-label"> Mã Nhân Viên</label>
                                                    </div>
                                                    <div>
                                                        <select id="sua-ma-nhan-vien" style="color: black" disabled>
                                                            @foreach (NhanVienModel item in ViewBag.nhanviens)
                                                            {
                                                                <option value="@item.manv">@item.manv</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-6 select-no-edit">
                                                    <div>
                                                        <label for="sua-ma-doan" class="form-label"> Mã Đoàn</label>
                                                    </div>
                                                    <div>
                                                        <select id="sua-ma-doan" style="color: black" disabled>
                                                            @foreach (DoanModel item in ViewBag.doans)
                                                            {
                                                                <option value="@item.madoan">@item.madoan</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        <label for="sua-nhiem-vu" class="form-label">  Nhiệm Vụ</label>
                                                    </div>
                                                    <div>
                                                        <textarea id="sua-nhiem-vu"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnEditPhanCong" type="button" class="btn btn-success" data-dismiss="modal">Sửa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("DeletePhanCong", "PhanCong", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Xóa Phân Công</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>Bạn có muốn xóa Phân Công này không?</div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Xóa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="25%">Mã Đoàn</th>
                                <th width="25%">Mã Nhân Viên</th>
                                <th width="38%">Nhiệm Vụ</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PhanCongModel item in ViewBag.phancongs)
                            {
                                <tr>
                                    <td>@item.madoan</td>
                                    <td>@item.manv</td>
                                    <td>@item.nhiemvu</td>
                                    <td>
                                        <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoPhanCong('@item.manv','@item.madoan')">Sửa</button>
                                        <button type="button" class="btn btn-danger" onclick="onClickDeletePhanCong('@item.manv','@item.madoan')">
                                            Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



