
@{
    ViewBag.Title = "SoLanDiTourCuaNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Tour_du_lich.Models

    <div class="container-fluid">
        <h1 class="mt-4">Thống Kê Số Lần Đi Tour Của Nhân Viên</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Thống Kê</li>
            <li class="breadcrumb-item active">Số Lần Đi Tour Của Nhân Viên</li>
        </ol>
        <div class="card mb-4" style="border: 1px solid black;">
            <div class="card-body">
                <div style="margin-left: 20px">
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                Mã Nhân Viên Cần Thống Kê
                            </div>
                            <div>
                                <select id="ma-nhanvien" style="color: black">
                                    @foreach (NhanVienModel item in ViewBag.nhanviens)
                                    {
                                        if (ViewBag.manv != null)
                                        {
                                            if (item.manv == ViewBag.manv)
                                            {
                                                <option value="@item.manv" selected>@item.manv</option>
                                            }
                                            else
                                            {
                                                <option value="@item.manv">@item.manv</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item.manv">@item.manv</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                Thời gian Bắt Đầu
                            </div>
                            <div>
                                @if (ViewBag.thoigianbatdau != null)
                                {
                                    <input type="date" id="thoi-gian-bat-dau" value="@ViewBag.thoigianbatdau.Date.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                    <input type="date" id="thoi-gian-bat-dau" />
                                }

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                Thời gian kết Thúc
                            </div>
                            <div>
                                @if (ViewBag.thoigianketthuc != null)
                                {
                                    <input type="date" id="thoi-gian-ket-thuc" value="@ViewBag.thoigianketthuc.Date.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                    <input type="date" id="thoi-gian-ket-thuc" />
                                }
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top: 20px"><button id="btnRun" onclick="SoLanDiTourCuaNV();">Thực hiện</button></div>
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.solanditourcuanvs != null && ViewBag.solanditourcuanvs.Count > 0)
        {
            <div class="card-body" style="border: 1px solid black; margin: 20px 0px">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="15%">Mã Tour</th>
                                <th width="15%">Mã Đoàn</th>
                                <th width="15%">Tên Nhân Viên</th>
                                <th width="15%">Nhiệm Vụ</th>
                                <th width="20%">Ngày Bắt Đầu</th>
                                <th width="20%">Ngày Kết Thúc</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SoLanDiTourCuaNVModel item in ViewBag.solanditourcuanvs)
                            {
                                <tr>
                                    <td>@item.matour</td>
                                    <td>@item.madoan</td>
                                    <td>@item.tennv</td>
                                    <td>@item.nhiemvu</td>
                                    <td>@item.ngaybatdau</td>
                                    <td>@item.ngayketthuc</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4" style="border: 1px solid black;">
                <div class="card-body">
                    <div class="row" style="display:flex; justify-content:flex-end; font-size: 22px; font-weight: 500">
                        <div class="col-md-6">Tổng Số Lần Đi Tour Của Nhân Viên @ViewBag.manv:&nbsp;</div>
                        <div class="col-md-6">@ViewBag.quantity</div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="card-body" style="border: 1px solid black; margin: 20px 0px">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="15%">Mã Tour</th>
                                <th width="15%">Mã Đoàn</th>
                                <th width="15%">Tên Nhân Viên</th>
                                <th width="15%">Nhiệm Vụ</th>
                                <th width="20%">Ngày Bắt Đầu</th>
                                <th width="20%">Ngày Kết Thúc</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card mb-4" style="border: 1px solid black;">
                <div class="card-body">
                    <div class="row" style="display:flex; justify-content:flex-start; font-size: 22px; font-weight: 500">
                        <div class="col-md-6">Tổng Số Lần Đi Tour Của Nhân Viên:&nbsp;</div>
                        <div class="col-md-6">0</div>
                    </div>
                </div>
            </div>
        }

    </div>



