@{
    ViewBag.Title = "QuanLyNhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tour_du_lich.Models.nhanvien>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Nhân Viên</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Nhân Viên</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Nhân Viên
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Nhân Viên
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyNhanVien", "NhanVien", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Thêm Nhân Viên</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Nhân Viên
                                                    </div>
                                                    <div>
                                                        <input id="them-ma-nhan-vien"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Tên Nhân Viên
                                                    </div>
                                                    <div>
                                                        <input id="them-ten-nhan-vien"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        Địa Chỉ
                                                    </div>
                                                    <div>
                                                        <textarea id="them-dia-chi-nhan-vien"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnAddNhanVien" type="button" class="btn btn-success" data-dismiss="modal">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("EditNhanVien", "NhanVien", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Sửa Nhân Viên</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="margin-left: 50px">
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        Mã Nhân Viên
                                                    </div>
                                                    <div>
                                                        <input id="sua-ma-nhan-vien"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        Tên Nhân Viên
                                                    </div>
                                                    <div>
                                                        <input id="sua-ten-nhan-vien"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        Địa Chỉ
                                                    </div>
                                                    <div>
                                                        <textarea id="sua-dia-chi-nhan-vien"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnEditNhanVien" type="button" class="btn btn-success" data-dismiss="modal">Sửa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("DeleteNhanVien", "NhanVien", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Xóa Nhân Viên</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>Bạn có muốn xóa nhân viên này không?</div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Xóa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="25%">Mã Nhân Viên</th>
                                <th width="25%">Tên Nhân Viên</th>
                                <th width="38%">Địa Chỉ</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.manv</td>
                                <td>@item.tennv</td>
                                <td>@item.diachi</td>
                                <td>
                                    <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoNhanVien('@item.manv')">Sửa</button>
                                    <button type="button" class="btn btn-danger" onclick="onClickDeleteNhanVien('@item.manv')">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

