
@{
    ViewBag.Title = "DoanhThuTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Tour_du_lich.Models

    <div class="container-fluid">
        <h1 class="mt-4">Thống Kê Doanh Thu Tour</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Thống Kê</li>
            <li class="breadcrumb-item active">Doanh Thu Tour</li>
        </ol>
        <div class="card mb-4" style="border: 1px solid black;">
            <div class="card-body">
                <div style="margin-left: 20px">
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                Mã Tour Cần Thống Kê
                            </div>
                            <div id="select-no-edit">
                                <select id="ma-tour" style="color: black">
                                    @foreach (TourDataModel item in ViewBag.tours)
                                    {
                                        if (ViewBag.matour != null)
                                        {
                                            if (item.matour == ViewBag.matour)
                                            {
                                                <option value="@item.matour" selected>@item.matour</option>
                                            }
                                            else
                                            {
                                                <option value="@item.matour">@item.matour</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item.matour">@item.matour</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                Thời gian Bắt Đầu
                            </div>
                            <div>
                                @if (ViewBag.thoigianbatdau != null)
                                {
                                    <input type="date" id="thoi-gian-bat-dau" value="@ViewBag.thoigianbatdau.Date.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                    <input type="date" id="thoi-gian-bat-dau" />
                                }

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                Thời gian kết Thúc
                            </div>
                            <div>
                                @if (ViewBag.thoigianketthuc != null)
                                {
                                    <input type="date" id="thoi-gian-ket-thuc" value="@ViewBag.thoigianketthuc.Date.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                    <input type="date" id="thoi-gian-ket-thuc" />
                                }
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top: 20px"><button id="btnRun" class="btn custom-btn-primary" onclick="DoanhThuTour();">Thực hiện</button></div>
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.doanhthutours != null && ViewBag.doanhthutours.Count > 0)
        {
            <div class="card-body" style="border: 1px solid black; margin: 20px 0px">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="13%">Mã Tour</th>
                                <th width="13%">Tên Tour</th>
                                <th width="15%">Mã Đoàn</th>
                                <th width="14%">Mã Khách</th>
                                <th width="15%">Giá Tour</th>
                                <th width="15%">Ngày Bắt Đầu</th>
                                <th width="15%">Ngày Kết Thúc</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DoanhThuTourModel item in ViewBag.doanhthutours)
                            {
                                <tr>
                                    <td>@item.matour</td>
                                    <td>@item.tentour</td>
                                    <td>@item.madoan</td>
                                    <td>@item.makhach</td>
                                    <td>@String.Format("{0:0,0 vnđ}", item.gia)</td>
                                    <td>@item.ngaybatdau</td>
                                    <td>@item.ngayketthuc</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-4" style="border: 1px solid black;">
                <div class="card-body">
                    <div style="display:flex; justify-content:flex-end; font-size: 22px; font-weight: 500" class="row">
                        <div class="col-md-6">Tổng Số Lượng Đoàn Đi Tour @ViewBag.matour:&nbsp;</div>
                        <div class="col-md-6">@ViewBag.quantity</div>
                    </div>

                    <div style="display:flex; justify-content:flex-end; font-size: 22px; font-weight: 500" class="row">
                        <div class="col-md-6">Tổng Số Lượng Khách Của Các Đoàn đi Tour @ViewBag.matour:&nbsp;</div>
                        <div class="col-md-6">@ViewBag.quantitykhach</div>
                    </div>

                    <div style="display:flex; justify-content:flex-end; font-size: 24px; font-weight: 500" class="row">
                        <div class="col-md-6">Tổng Doanh Thu Của Tour @ViewBag.matour:&nbsp;</div>
                        <div class="col-md-6">@String.Format("{0:0,0 vnđ}", ViewBag.quantitykhach * ViewBag.doanhthutours[0].gia)</div>
                    </div>
                </div>
            </div>
        }
        else
        {
            @*<h1 style="display: flex;justify-content: center;margin-top: 100px;">Chưa có dữ liệu ...</h1>*@
            <div class="card-body" style="border: 1px solid black; margin: 20px 0px">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="13%">Mã Tour</th>
                                <th width="13%">Tên Tour</th>
                                <th width="15%">Mã Đoàn</th>
                                <th width="14%">Mã Khách</th>
                                <th width="15%">Giá Tour</th>
                                <th width="15%">Ngày Bắt Đầu</th>
                                <th width="15%">Ngày Kết Thúc</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="card mb-4" style="border: 1px solid black;">
                <div class="card-body">

                    <div style="display:flex; justify-content:flex-end; font-size: 24px; font-weight: 500" class="row">
                        <div class="col-md-6">Tổng Số Lượng Đoàn Đi Tour @ViewBag.matour:&nbsp;</div>
                        <div class="col-md-6">0</div>
                    </div>

                    <div style="display:flex; justify-content:flex-end; font-size: 24px; font-weight: 500" class="row">
                        <div class="col-md-6">Tổng Số Lượng Khách Của Các Đoàn đi Tour @ViewBag.matour:&nbsp;</div>
                        <div class="col-md-6">0</div>
                    </div>

                    <div style="display:flex; justify-content:flex-end; font-size: 24px; font-weight: 500" class="row">
                        <div class="col-md-6">Tổng Doanh Thu Của Tour @ViewBag.matour:&nbsp;</div>
                        <div class="col-md-6">0&nbsp;VNĐ</div>
                    </div>

                </div>
            </div>
                    }

       </div>



