@{
    ViewBag.Title = "QuanLyKhach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tour_du_lich.Models.khachhang>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Khách Hàng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Khách Hàng</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Khách Hàng
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Khách
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyKhach", "Khach", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 700px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Thêm Khách</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="them-ma-khach-hang" class="form-label"> Mã Khách Hàng</label>
                                                    </div>
                                                    <div>
                                                        <input type="text" id="them-ma-khach-hang"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="them-ten-khach-hang" class="form-label">Tên Khách Hàng</label>
                                                    </div>
                                                    <div>
                                                        <input type="text" id="them-ten-khach-hang"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="them-dia-chi-khach-hang" class="form-label">Địa chỉ</label>
                                                    </div>
                                                    <div>
                                                        <textarea id="them-dia-chi-khach-hang"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="them-so-dien-thoai-khach-hang" class="form-label">Số Điện Thoại</label>
                                                    </div>
                                                    <div>
                                                        <input type="number" id="them-so-dien-thoai-khach-hang"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="Nam" class="form-label">Giới Tính</label>
                                                    </div>
                                                    <div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" for="nam" style="display: flex; align-items: baseline">
                                                                <input type="radio" class="form-check-input" id="Nam" name="gender" value="Nam" checked>Nam
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" for="nu" style="display: flex; align-items: baseline">
                                                                <input type="radio" class="form-check-input" id="Nu" name="gender" value="Nữ">Nữ
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="them-cmnd-khach-hang" class="form-label">Số cmnd</label>
                                                    </div>
                                                    <div>
                                                        <input type="number" id="them-cmnd-khach-hang"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnAddKhachHang" type="button" class="btn btn-success" data-dismiss="modal">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("EditKhach", "Khach", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 700px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Sửa Thông Tin Khách Hàng</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="sua-ma-khach-hang" class="form-label"> Mã Khách Hàng</label>
                                                    </div>
                                                    <div>
                                                        <input type="text" id="sua-ma-khach-hang" disabled/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="sua-ten-khach-hang" class="form-label">Tên Khách Hàng</label>
                                                    </div>
                                                    <div>
                                                        <input type="text" id="sua-ten-khach-hang"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="sua-dia-chi-khach-hang" class="form-label"> Địa chỉ</label>
                                                    </div>
                                                    <div>
                                                        <textarea id="sua-dia-chi-khach-hang"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="sua-so-dien-thoai-khach-hang" class="form-label"> Số Điện Thoại</label>
                                                    </div>
                                                    <div>
                                                        <input type="number" id="sua-so-dien-thoai-khach-hang"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px" class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="NamEdit" class="form-label"> Giới Tính</label>
                                                    </div>
                                                    <div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" for="namEdit" style="display: flex; align-items: baseline">
                                                                <input type="radio" class="form-check-input" id="NamEdit" name="genderEdit" value="Nam">Nam
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label" for="nuEdit" style="display: flex; align-items: baseline">
                                                                <input type="radio" class="form-check-input" id="NuEdit" name="genderEdit" value="Nữ">Nữ
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="sua-cmnd-khach-hang" class="form-label"> Số cmnd</label>
                                                    </div>
                                                    <div>
                                                        <input type="number" id="sua-cmnd-khach-hang"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button id="btnEditKhach" type="button" class="btn btn-success" data-dismiss="modal">Sửa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("DeleteKhach", "Khach", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Xóa Khách</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>
                                            Bạn có muốn xóa khách hàng này không?
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Xóa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="150px">Mã Khách Hàng</th>
                                <th width="190px">Tên Khách Hàng</th>
                                <th width="160px">Địa Chỉ</th>
                                <th width="120px">Số Điện Thoại</th>
                                <th width="90px">Giới Tính</th>
                                <th width="90px">CMND</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.makh</td>
                                <td>@item.tenkh</td>
                                <td>@item.diachi</td>
                                <td>@item.sdt</td>
                                <td>@item.giotinh</td>
                                <td>@item.cmnd</td>
                                <td>
                                    <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoKhachHang('@item.makh')">Sửa</button>
                                    <button type="button" class="btn btn-danger" onclick="onClickDeleteKhachHang('@item.makh')">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

